html *
{
   
   
    font-family: 'Montserrat', sans-serif;
}

.header{
    background-color: rgba(255,200,1,255);
    height: 100px;
    display: flex;
    justify-content: space-between;
   padding-left: 5%;
   padding-right: 5%;
   align-items: center;
   position: sticky;
   top: 0;
   z-index: 9999;
   margin-top: -10px;
   margin-left: -8px;
   margin-right: -8px;

}
.title{
    font-weight: bolder;
    font-size: 50px;
}
.option{
    display: flex;
    justify-content: space-between;
    width: 15%;
    align-items: center;
}

.menu{
    display: flex;
    justify-content: space-between;
    width: 45%;
}
.details{
    width: 81%;
    display: flex;
    justify-content: space-between;
    height: 20px;
    align-self: center;
    margin-left: 10vw;
    margin-top: 70px;

}
.select{
    width: 30%;
    height: 50px;
    font-size: 21px;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    background-color: transparent;
    border-bottom-color: gray;
    border-bottom-width: 2px;
    color: gray;

}

.select:hover{
    border-bottom-color: rgba(255,200,1,255);
}

.button2{
    background-color: rgba(228,228,228,255);
    border-color: black;
    border-width: 3px;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

.button2:hover{
    color: white;
    background-color: black;
}
.belowfooter{
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    width: 65%;
    margin-left: auto;
    margin-top: -30px;
    
    
}
.inputfooter{
    height: 40px;
    width: 250px;
    background: #ffffff;
    opacity:0.65;
    border-color: transparent;
    font-size: 20px;
}
.button3{
    background-color: black;
    width: 50px;
    border-color: transparent;
    cursor: pointer;
    color: white;
}

.footer{
    height: 320px;
    background-color: rgba(255,200,1,255);
    padding-bottom:65px;
   margin-left: -8px;
   margin-right: -8px;
   
    
}
.footercontent{
    display: flex;
    justify-content: space-between;
    padding-left: 4%;
    padding-right: 4%;
}
.social{
    width: 40px;
    height: 40px;
}
.copyright{
    background-color: rgba(223,176,0,225);
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding-left: 4%;
    padding-right: 4%;
    margin-bottom: -10px;
   margin-left: -8px;
   margin-right: -8px;
}

.submit{
    margin-top: 100px; 
    margin-bottom: 100px; 
    margin-left: 44vw;
    width: 150px;
    height: 45px;
    background-color: rgba(255,200,1,255);
    border-color: transparent;
    border-radius: 7px;
    font-size: 20px;
    cursor: pointer;
}