html *
{
   
   
   font-family: 'Montserrat', sans-serif;
}
@media only screen and (max-width: 714px) { 
 
  div.option2{
    display: flex;
    align-items: center;
    
}
div.option{
  display: none;
}
div.menu{
  display: none;
}
div.welcome{
  display: none;
}
div.welcome2{
  margin-top: 30px;
}
}
@media only screen and (min-width: 715px) { 
  div.option2{
    display: none;
  }
  div.welcome2{
    display: none;
  }
}

.header{
    background-color: rgba(255,200,1,255);
    height: 100px;
    display: flex;
    justify-content: space-between;
   padding-left: 5%;
   padding-right: 5%;
   align-items: center;
   position: sticky;
   top: 0;
   z-index: 9999;
   margin-top: -10px;
   margin-left: -8px;
   margin-right: -8px;

}
.title{
    font-weight: bolder;
    font-size: 50px;
}
.option{
    display: flex;
    justify-content: space-between;
    width: 15%;
    align-items: center;
}

.menu{
    display: flex;
    justify-content: space-between;
    width: 45%;
}

.category{
    padding: 80px;
    max-height: 70vh;
    margin-bottom: 170px;
}

.categoryTitle{
  
    text-decoration: underline 5px rgba(255,200,1,255);
    font-size: 40px;
    
    
}

.categoryelement{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
}
.categorycontent{
    background-color: rgba(255,200,1,255);
    width: 160px;
    height: 160px;
    border-radius: 50px;
    padding-top: 10px;
    overflow: hidden;
}
.flashContent{
    
    width: 100%;
    transition: 3s;
    height: 100%;
    background-image: url('./assets/images/Component\ 21.png');
    background-size: cover;
    margin-bottom: 50px;
   overflow: hidden;

    
}
.flashContent:hover{
    overflow: hidden;
    transition: 3s;
    padding-left: 10px;
    padding-right: 10px;
    background-size: cover;
}

.whitecontent{
    width: 160px; 
    height: 100px; 
    background-color: white;
    margin-top: 80px;
    border-radius: 100%;
   
    
}
.groceries{
   margin-top: -90px;
}

.slideshow-container {
    max-width: 100vw;
    position: relative;
   margin-top: 50px;
    margin-bottom: 20px;
  }

  .mySlides {
    display: none;
    
    
  }
  .prev, .next {
    cursor: pointer;
    position: absolute;
    
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 35px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }


  .slideshow-container1 {
    max-width: 100vw;
    position: relative;
   margin-top: 50px;
    margin-bottom: 20px;
  }

  .mySlides1 {
    display: none;
    
    
  }
  .prev1, .next1 {
    cursor: pointer;
    position: absolute;
    
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 35px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next1 {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev1:hover, .next1:hover {
    background-color: rgba(0,0,0,0.8);
  }

 
  .dot1 {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot1:hover {
    background-color: #717171;
  }

  .foodCounter{
    width: 323px;
    height: 272px;
    border-radius: 20px;
    background: #D9D9D9;
  }

  .popular{
    width: 95%;
    height: 190px;
    margin-right: auto;
    border-radius: 10px;
    background: #D9D9D9;
    margin-top: 40px;
  }