.header{
    background-color: rgba(255,200,1,255);
    height: 100px;
    display: flex;
    justify-content: space-between;
   padding-left: 5%;
   padding-right: 5%;
   align-items: center;
   position: sticky;
   top: 0;
   z-index: 9999;
   font-style: normal;

}
.title{
    font-weight: bolder;
    font-size: 50px;
}
.option{
    display: flex;
    justify-content: space-between;
    width: 20%;
    align-items: center;
}

.menu{
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.welcome{
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
   padding-top: 10px;
   
   
    max-height: 80vh;
   
}
.animationphone{
    
    width: 50%;
    overflow: hidden;
   
}
.phonecontainer{
    background-color: rgba(255,200,1,255);
  
    width: 50vh;
    height: 50vh;
    border-radius: 100%;

   
    
   
    
}
.dot{
    background-color: rgba(255,200,1,255);
    width: 80px;
    height: 80px;
    border-radius: 100%;
    margin-right: auto;
}
.seconddot{
    background-color: rgba(255,200,1,255);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-left: 50vh; 
}
.phone{
    width: 650px;
    height: auto;
    margin-right: 300px;
    animation: updown 15s ease infinite;

}
.play{
    display: flex;
    
   
}
@keyframes updown {
 

  50% {
    transform: translateY(8%);
    
  }

  
}

.image{
    width: 200px;
    height: auto;
    cursor: pointer;
    margin-right: 16px;
}
.text{
    width: 50%;
    
}
.category{
    padding: 80px;
}

.categoryTitle{
    text-align: center;
    text-decoration: underline 5px rgba(255,200,1,255);
    font-size: 40px;
    margin-bottom: 100px;
    
}

.categoryelement{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
}
.categorycontent{
    background-color: rgba(255,200,1,255);
    width: 160px;
    height: 160px;
    border-radius: 50px;
    padding-top: 10px;
    overflow: hidden;
}
.flashContent{
    
    width: 100%;
    transition: 3s;
    height: 450px;
    background-image: url('./assets/images/Component\ 21.png');
    background-size: cover;
    margin-bottom: 50px;
   overflow: hidden;

    
}
.flashContent:hover{
    overflow: hidden;
    transition: 3s;
    padding-left: 10px;
    padding-right: 10px;
    background-size: cover;
}

.advertisement{
    background-color: rgba(228,228,228,255);
    height: 200px;
    padding-top: 150px;
}

.fresh{
    height: 470px;
    display: flex;
    justify-content: space-between;

}
.butchery{
    height: 100%;
    width: 48.5%;
    background-color: rgba(255,200,1,255);
    transition: 1s;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    
    
    overflow: hidden;
}
.butchery:hover{
    width: 49.5%;
    transition: 1s;
    transform-origin: right;
}
.beef{
    width: 650px;
    margin-top: 100px;
    

    
    
}
.aroundbeef{
    background-color: rgba(255,218,85,255);
    border-radius: 100%;
    width: 650px;
    height: 750px;
  
    
    

}
.drinks{
    height: 47%;
    background-color: rgba(255,200,1,255);
    width: 100%;
    transition: 1s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    
    
}
.arounddrinks{
    background-color: rgba(255,218,85,255);
    border-radius: 100%;
    width: 250px;
    height: 250px;
    justify-content: center;
    align-items: center;
    margin-left: 55%;
}
.juice{
    width: 360px;
  
   margin-left: -120px;
}
.drinks:hover{
    height: 50%;
    transition: 1s;
    
}
.snacks{
    height: 47%;
    background-color: rgba(255,200,1,255);
    width: 100%;
    transition: 1s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    

}
.snacks:hover{
    height: 50%;
    transition: 1s;
    transform-origin: bottom;
}
.delivery{
    background-color: black;
    height: 200px;
    margin-top: 80px;
    padding: 80px;
}
.area{
    color: rgba(255,200,1,255);
    font-weight: bolder;
    font-size: 30px;
}
.map{
    display: flex;
    padding-right: 10%;

}
.nairobi{
    height: auto;
    width: 70%;
}
.undermap{
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    align-content: center;
    margin-top: 50px;
    padding-left: 10%;
    padding-right: 10%;
}
.input{
   border-top-color: transparent;
   border-left-color: transparent;
   border-right-color: transparent;
   border-bottom-color: rgba(255,200,1,255);
   width: 200px;
   border-width: 2px;
   margin-left: 5px;
   margin-right: 5px;
   font-size: 20px;
}
.button{
    border-color: black;
    background-color: transparent;
    width: 150px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    border-width: 3px;
    margin-left: 20px;
    cursor: pointer;
}
.advertise{
    height: 400px;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;

}
.space1{
    width: 27%;
    background-color: rgba(228,228,228,255);
}

.space2{
    width: 67%;
    background-color: rgba(228,228,228,255);
}
.textadvertisement{
    text-align: center;
    margin-top: 200px;
    font-size: 40px;
}
.process{
    background-color: rgba(255,200,1,255);
    height: 650px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.hand{
    width: 100%;
    margin-left: 20%;
    margin-top: 50px;
}


.process2{
    width: 50%;
}
.why{
    height: 200px;
}
.whycontent{

    width: 90%;
    height: 98%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    transition: 1s;
    align-items: center;
}
.whycontent:hover{
    width: 95%;
    
    padding-top: 10px;
    transition: 1s;
}
.icon{
    width: 130px;
    margin-left: 35%;
}
.advertisement2{
   background-image: url('./assets/images/Component\ 48.png');
   background-size: cover;
    height: 500px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.contentleft{
    margin-top: 60px;
    margin-left: 7%;
   
    width: 200px;
}
.contentright{
    margin-top: 60px;
    margin-right: 7%;
    width: 230px;
}
.career{
    height: 500px;
    display: flex;
    margin-top: 50px;
    overflow: hidden;
}
.rider{
    background-image: url('./assets/images/funny-black-delivery-man-riding-bicycle-studio-fast-service-overjoyed-african-american-courier-guy-red-cap-uniform-205466660.png');
    background-size: cover;
    width: 40%;
}
.careercontent{
    background-color: black;
    width: 60%;
    
		transform: skewX(0deg);
       
}
.careercontent::after{
    width: 50%;
    height: 100%;
    content: '';
    background: inherit;
    transform-origin: right;
    transform: skewX(-10deg);
    background-color: black;
    position: absolute;
    top: 0;
    left: -44px;
    
    z-index: -1;
}

.details{
   margin-left: 10px;
   margin-top: 12%;
   width: 700px;
}
.first{
    border-color: transparent;
    margin-left: 20px; 
    width: 200px; 
    height: 50px;
     border-radius: 10px;
     background-color: rgba(255,200,1,255);
     font-size: 30px;
     color: gray;
     cursor: pointer;
     transition: 1s;
     margin-right: 20px;
}
.first:hover{
    margin-right: 0px;
    transition: 1s;
}
.second{
    background-color: white; 
   border-color: transparent;
    width: 200px; 
    height: 50px;
    border-radius: 10px;
    font-size: 30px;
     color: gray;
     cursor: pointer;
     margin-right: 20px;
     transition: 1s;
}
.second:hover{
    margin-right: 40px;
    transition: 1s;
}
.download{
    display: flex;
    justify-content: space-evenly;
    height: 450px;
    margin-top: 50px;
    align-items: center;
    overflow: hidden;
   
}
.footer{
    height: 350px;
    background-color: rgba(255,200,1,255);
    padding-bottom:65px;
   
    
}
.footercontent{
    display: flex;
    justify-content: space-between;
    padding-left: 4%;
    padding-right: 4%;
}
.social{
    width: 40px;
    height: 40px;
}
.copyright{
    background-color: rgba(223,176,0,225);
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding-left: 4%;
    padding-right: 4%;
}
.whitecontent{
    width: 160px; 
    height: 100px; 
    background-color: white;
    margin-top: 80px;
    border-radius: 100%;
   
    
}
.groceries{
   margin-top: -90px;
}

.button2{
    background-color: rgba(228,228,228,255);
    border-color: black;
    border-width: 3px;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

.button2:hover{
    color: white;
    background-color: black;
}
.belowfooter{
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    width: 65%;
    margin-left: auto;
    
    
}
.inputfooter{
    height: 40px;
    width: 250px;
    background: #ffffff;
    opacity:0.65;
    border-color: transparent;
    font-size: 20px;
}
.button3{
    background-color: black;
    width: 50px;
    border-color: transparent;
    cursor: pointer;
    color: white;
}