html *
{
   
   
    font-family: 'Montserrat', sans-serif;
}

@media only screen and (max-width: 414px) { 
	div.header { 
        width: 100%;
	}
    div.menu {
        display: none;
    }
    div.welcome{
        display: contents;
    }
    
    div.option{
        display: none; 
    }
    div.animationphone{
    
        width: 100%;
        
       
    }
    div.map{
        display: contents;
    }

    div.footercontent{
        display: contents;
        
    }
    div.copyright{
        display: contents;
    }
    div.updated{
        display: contents;
    }
    div.text{
        width: 100%;
        font-size: 10px;
        
    }
    div.footer{
        display: none;
    }
    div.copyright{
        display: none;
    }
    div.download{
        display: none;
    }
    div.map{
        display: none;
    }
    div.category{
        display: none;
    }
    h1.categoryTitle{
        display: none;
    }
    div.slideshow-container{
        display: none;
    }
    div.slideshow-container1{
        display: none;
    }
    div.delivery{
        display: none;
    }
    div.advertisement{
        display: none;
    }
    div.advertisement2{
        display: none;
    }
    div.career{
        display: none;
    }
    div.why{
        display: none;
    }
    div.process{
        display: none;
    }
    div.advertise{
        display: none;
    }
    div.undermap{
        display: none;
    }
    div.flashslider{
        display: none;
    }
    div.text{
        display: none;
    }
    div.animationphone{
        margin-left: 10%;
        margin-top: 40px;
    }
    div.phonecontainer{
        display: block;
    }
    img.phone{
        position: fixed;
        right: -15px;
    }
    span.dot{
        display: none;
    }

    


    
    
} 

@media only screen and (min-width: 414px) { 
    div.play2{
        display: none;
    }
}
.play2{
    display: flex;
    margin-top: 130px;
    width: 100%;
    justify-content: space-between;
}
.image2{
    width: 180px;
    cursor: pointer;
}

.header{
    background-color: rgba(255,200,1,255);
    height: 100px;
    display: flex;
    justify-content: space-between;
   padding-left: 5%;
   padding-right: 5%;
   align-items: center;
   position: sticky;
   top: 0;
   z-index: 9999;
   margin-top: -10px;
   margin-left: -8px;
   margin-right: -8px;

   

}
.title{
    font-weight: bolder;
    font-size: 50px;
}
.option{
    display: flex;
    justify-content: space-between;
    width: 15%;
    align-items: center;
}

.menu{
    display: flex;
    justify-content: space-between;
    width: 45%;
}
.welcome{
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
   padding-top: 10px;
   
   flex-wrap: wrap;
    max-height: 100vh;
   
}
.animationphone{
    
    width: 50%;
    overflow: hidden;
   
}
.phonecontainer{
    background-color: rgba(255,200,1,255);
  
    width: 300px;
    height: 300px;
    border-radius: 100%;
    text-align: center;
    margin-top: -20px;
    
    

   
    
   
    
}
.dot{
    background-color: rgba(255,200,1,255);
    width: 80px;
    height: 80px;
    border-radius: 100%;
    margin-right: auto;
}
.seconddot{
    background-color: rgba(255,200,1,255);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-left: 50vh; 
}
.phone{
    width: 600px;
    height: auto;
    right: 15%;
    position: absolute;
    animation: updown 9s ease infinite;

}
.play{
    display: flex;
    
   
}
@keyframes updown {
 

  50% {
    transform: translateY(8%);
    
  }

  
}

.image{
    width: 200px;
    height: auto;
    cursor: pointer;
    margin-right: 16px;
}
.text{
    width: 50%;
    
}
.category{
    padding: 80px;
    max-height: 70vh;
    margin-bottom: 170px;
}

.categoryTitle{
    text-align: center;
    text-decoration: underline 5px rgba(255,200,1,255);
    font-size: 40px;
    
    
}

.categoryelement{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
}
.categorycontent{
    background-color: rgba(255,200,1,255);
    width: 160px;
    height: 160px;
    border-radius: 50px;
    padding-top: 10px;
    overflow: hidden;
}
.flashContent{
    
    width: 100%;
    transition: 3s;
    height: 450px;
    background-image: url('./assets/images/Component\ 21.png');
    background-size: cover;
    margin-bottom: 50px;
   overflow: hidden;

    
}
.flashContent:hover{
    overflow: hidden;
    transition: 3s;
    padding-left: 10px;
    padding-right: 10px;
    background-size: cover;
}

.advertisement{
    background-color: rgba(228,228,228,255);
    height: 200px;
    padding-top: 150px;
}

.fresh{
    height: 470px;
    display: flex;
    justify-content: space-between;

}
.butchery{
    height: 100%;
    width: 48.5%;
    background-color: rgba(255,200,1,255);
    transition: 1s;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    
    
    overflow: hidden;
}
.butchery:hover{
    width: 49.5%;
    transition: 1s;
    transform-origin: right;
}
.beef{
    width: 650px;
    margin-top: 100px;
    

    
    
}
.aroundbeef{
    background-color: rgba(255,218,85,255);
    border-radius: 100%;
    width: 650px;
    height: 750px;
  
    
    

}
.drinks{
    height: 47%;
    background-color: rgba(255,200,1,255);
    width: 100%;
    transition: 1s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    
    
}
.arounddrinks{
    background-color: rgba(255,218,85,255);
    border-radius: 100%;
    width: 250px;
    height: 250px;
    justify-content: center;
    align-items: center;
    margin-left: 55%;
}
.juice{
    width: 360px;
  
   margin-left: -120px;
}
.drinks:hover{
    height: 50%;
    transition: 1s;
    
}
.snacks{
    height: 47%;
    background-color: rgba(255,200,1,255);
    width: 100%;
    transition: 1s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    

}
.snacks:hover{
    height: 50%;
    transition: 1s;
    transform-origin: bottom;
}
.delivery{
    background-color: black;
    height: 200px;
    margin-top: 80px;
    padding: 80px;
    overflow: hidden;
}
.area{
    color: rgba(255,200,1,255);
    font-weight: bolder;
    font-size: 50px;
    margin-left: 85px;
    margin-right: 85px;
}
.deliveryarea{
    display: flex; 
    justify-content: space-between;
    animation-name: rightToLeft;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
[data-animation] {
    animation: var(--animn, none) var(--animdur, 0s) var(--animtf, linear) var(--animdel, 0s) var(--animic, infinite) var(--animdir, alternate) var(--animfm, none) var(--animps, running);
  }
@keyframes rightToLeft {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
.map{
    display: flex;
    

}
.nairobi{
    height: 650px;
    width: 70vw;
}
.undermap{
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    align-content: center;
    margin-top: 50px;
    padding-left: 10%;
    padding-right: 10%;
}
.input{
   border-top-color: transparent;
   border-left-color: transparent;
   border-right-color: transparent;
   border-bottom-color: rgba(255,200,1,255);
   width: 200px;
   border-width: 2px;
   margin-left: 5px;
   margin-right: 5px;
   font-size: 20px;
}
.button{
    border-color: black;
    background-color: transparent;
    width: 220px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    border-width: 3px;
    margin-left: 20px;
    cursor: pointer;
}
.advertise{
    height: 400px;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;

}
.space1{
    width: 27%;
    background-color: rgba(228,228,228,255);
}

.space2{
    width: 67%;
    background-color: rgba(228,228,228,255);
}
.textadvertisement{
    text-align: center;
    margin-top: 200px;
    font-size: 40px;
}
.process{
    background-color: rgba(255,200,1,255);
    height: 650px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.hand{
    width: 100%;
    margin-left: 20%;
    margin-top: 50px;
}


.process2{
    width: 50%;
}
.why{
    height: 200px;
}
.whycontent{

    width: 90%;
    height: 98%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    transition: 1s;
    align-items: center;
}
.whycontent:hover{
    width: 95%;
    
    padding-top: 10px;
    transition: 1s;
}
.icon{
    width: 130px;
    margin-left: 35%;
}
.advertisement2{
   background-image: url('./assets/images/Component\ 48.png');
   background-size: cover;
    height: 500px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.contentleft{
    margin-top: 30px;
    margin-left: 7%;
   
    width: 265px;
}
.contentright{
    margin-top: 30px;
    margin-right: 7%;
    width: 270px;
}
.career{
    height: 500px;
    display: flex;
    margin-top: 50px;
    overflow: hidden;
}
.rider{
    
    width: 40%;
}
.careercontent{
    background-color: black;
    width: 60%;
    
		transform: skewX(0deg);
       
}
.careercontent::after{
    width: 50%;
    height: 100%;
    content: '';
    background: inherit;
    transform-origin: right;
    transform: skewX(-10deg);
    background-color: black;
    position: absolute;
    top: 0;
    left: -44px;
    
    z-index: -1;
}

.details{
   margin-left: 10px;
   margin-top: 12%;
   width: 700px;
}
.first{
    border-color: transparent;
    margin-left: 20px; 
    width: 200px; 
    height: 50px;
     border-radius: 10px;
     background-color: rgba(255,200,1,255);
     font-size: 30px;
     color: gray;
     cursor: pointer;
     transition: 1s;
     margin-right: 20px;
}
.first:hover{
    margin-right: 0px;
    transition: 1s;
}
.second{
    background-color: white; 
   border-color: transparent;
    width: 200px; 
    height: 50px;
    border-radius: 10px;
    font-size: 30px;
     color: gray;
     cursor: pointer;
     margin-right: 20px;
     transition: 1s;
}
.second:hover{
    margin-right: 40px;
    transition: 1s;
}
.download{
    display: flex;
    justify-content: space-evenly;
    height: 450px;
    margin-top: 50px;
    align-items: center;
    overflow: hidden;
   
}
.footer{
    height: 320px;
    background-color: rgba(255,200,1,255);
    padding-bottom:65px;
   margin-left: -8px;
   margin-right: -8px;
   
    
}
.footercontent{
    display: flex;
    justify-content: space-between;
    padding-left: 4%;
    padding-right: 4%;
}
.social{
    width: 40px;
    height: 40px;
}
.copyright{
    background-color: rgba(223,176,0,225);
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding-left: 4%;
    padding-right: 4%;
    margin-bottom: -10px;
   margin-left: -8px;
   margin-right: -8px;
}
.whitecontent{
    width: 160px; 
    height: 100px; 
    background-color: white;
    margin-top: 80px;
    border-radius: 100%;
   
    
}
.groceries{
   margin-top: -90px;
}

.button2{
    background-color: rgba(228,228,228,255);
    border-color: black;
    border-width: 3px;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

.button2:hover{
    color: white;
    background-color: black;
}
.belowfooter{
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    width: 65%;
    margin-left: auto;
    margin-top: -30px;
    
    
}
.inputfooter{
    height: 40px;
    width: 250px;
    background: #ffffff;
    opacity:0.65;
    border-color: transparent;
    font-size: 20px;
}
.button3{
    background-color: black;
    width: 50px;
    border-color: transparent;
    cursor: pointer;
    color: white;
}
.data::before{
    content: "Electronics";
    animation: animate infinite 10s;
    padding-left: 10px; 
}

@keyframes animate {
  
    0% {
        content: "Electronics";
    }

    25% {
        content: "Groceries";
    }

    50% {
        content: "Cosmetics";
    }
    75% {
        content: "Medecine";
    }
    100% {
        content: "LPG Gas";
    }
    
}

.slidercontainer{
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider{
    width: 100%;
    height: 350px;
    margin: 20px;
    text-align: center;
    border-radius: 20px;
    position: relative;
}
.slides{
    display: flex;
    overflow-x: hidden;
    position: relative;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}
.slide:nth-of-type(even) {
    background-color: rgba(45, 192, 244, 255);
}
.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 100vw;
    height: 300px;
    margin-right: 0px;
    box-sizing: border-box;
   
    transform-origin: center center;
    transform: scale(1);
    scroll-snap-align: center;
    background-color: rgba(255,200,1,255);
}
.slide a {
    position: absolute;
    top: 48%;
    width: 35px;
    height: 35px;
    border: solid black;
    border-width: 0 4px 4px 0;
    padding: 3px;
    box-sizing: border-box;
}

a.slide__prev {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    left: 5%;
}

a.slide__next{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    right: 5%;
}
.slider__nav {
    box-sizing: border-box;
    position: absolute;
    bottom: 5%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    text-align: center;
}

.slider__navlink {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: lightgray;
    margin: 0 10px 0 10px;
}
.aroundbeef2{
    background-color: rgba(255,218,85,255);
    border-radius: 100%;
    width: 300px;
    height: 300px;
    align-content: center;
}

.flashslidercontainer{
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flashslider{
    width: 100%;
    height: 350px;
    margin: 20px;
    text-align: center;
    border-radius: 20px;
    position: relative;
}
.flashslides{
    display: flex;
    overflow-x: hidden;
    position: relative;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}
.flashslide:nth-of-type(even) {
    background-color: rgba(45, 192, 244, 255);
}
.flashslide {
    
    flex-shrink: 0;
    width: 96.5%;
    height: 300px;
    margin-right: 0px;
    box-sizing: border-box;
   
    transform-origin: center center;
    transform: scale(1);
    scroll-snap-align: center;
    background-image: url('./assets/images/Component\ 21.png');
    background-size: cover;
}
.flashslide a {
    position: absolute;
    top: 48%;
    width: 35px;
    height: 35px;
    border: solid black;
    border-width: 0 4px 4px 0;
    padding: 3px;
    box-sizing: border-box;
}

a.slide__prev {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    left: 5%;
}

a.slide__next{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    right: 5%;
}
.flashslider__nav {
    box-sizing: border-box;
    position: absolute;
    bottom: 5%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    text-align: center;
}

.flashslider__navlink {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: lightgray;
    margin: 0 10px 0 10px;
}

.updated{
    display: flex;
}

.slideshow-container {
    max-width: 100vw;
    position: relative;
   
    margin-bottom: 20px;
  }
  .slideshow-container1 {
    max-width: 100vw;
    position: relative;
   
    margin-bottom: 20px;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
    
    
  }
  .mySlides1 {
    display: none;
    
    
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 35px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  .prev1, .next1 {
    cursor: pointer;
    position: absolute;
    
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 35px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next1 {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev1:hover, .next1:hover {
    background-color: rgba(0,0,0,0.8);
  }
 
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  .fade1 {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }

  .dot1 {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot1:hover {
    background-color: #717171;
  }
  .dot1 {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot1:hover {
    background-color: #717171;
  }